@import "mixin";

$cWhite: #fff;
$cBlack: black;

.parent {
  background-color: rgb(123, 216, 233);
  width: 100%;
  height: 300px;
}

.child {
  background-color: orange;
  width: 100px;
  height: 100px;
  font-weight: 600;
}
.child.v2 {
  background-color: pink;
}
.child.v3 {
  background-color: rgb(148, 100, 148);
}

.parent {
  text-align: left;
  letter-spacing: -6px;
}
.child {
  display: inline-block;
}


//--------------------------//
// spin
// -------------------------// 

.try {
  transform-style: preserve-3d;
  // perspective: 500px;
  perspective-origin: center center;
  
  & .spinner {
    background-color: black;
    margin: 90px auto;
    width: 40px;
    height: 40px;
    
    @include animation02(
      $name: spinner,
      $duration: 1.2s,
      $iteration-count: infinite,
      ); 

    }
  }

@keyframes spinner {
  0% {
    transform: perspective(120px) rotate(0);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

// double-spin(round)
  .double-spinner {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 100px auto;

    & > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgb(53, 53, 53);
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      @include animation02(
        $name: double-spin,
        $duration: 2s,
        $iteration-count: infinite,
        $fill-mode: forwards,
        $timing-function: ease-in-out
      );

      &:nth-child(2) {
        animation-delay: -1s;
      }
    }
  }

@keyframes double-spin {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
